<!-- project/home.html -->
<!-- Angelie Darbouze (angelie@bu.edu) 12/2/25 -->
<!-- Homepage for Revize (final project) -->
{% extends "project/base.html" %}

{% block content %}

<div class="container">

    <h1> Welcome to Revize! </h1>

    <h3>Featured Restaurants</h3>
    {% if restaurants %}
    <div class="card">
        {% for r in restaurants %}
        <div class="card">
            <div class="hero-text">
                <h4 style="color: #e85bd9;"><strong>{{ r.name }}</strong></h4>
                {% if r.address %}
                <p class="restaurant-sub" style="color: black;">{{ r.address }}</p>
                </p>
                {% endif %}
            </div>
            <!-- each category has its own badge -->
            <div class="cuisine">
                {% for c in r.categories.all %}
                <span class="cuisine-badge" title="{{ c.name }}">{{ c.name }}</span>
                {% empty %}
                <span class="cuisine-badge">No category</span>
                {% endfor %}
            </div>
            {% if r.image %}
            <img src="{{ r.image.url }}" alt="{{ r.name }}" class="card-image">
            {% endif %}
            <a class="write-review" href="{% url 'restaurant_detail' r.id %}"> View</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}