<!-- File: base.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 9/16/2025 -->
<!-- Description: holds the content that is repeated on everypage (every html page) -->
{% load static %}
<html>

<head>
    <title>Format data example</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <nav>
        <!-- links to all pages -->
        <li><a href="{% url 'home' %}"> Home </a></li>
        <li><a href="{% url 'order_form' %}"> Place an Order </a> </li>
    </nav>
    <h1> Little Cupcake Bakeshop </h1>
</head>

<body>
    {% block content %}
    <!-- this varies based on the html file -->
    {% endblock content %}
</body>
<footer>
    Page created by angelie@bu.edu
</footer>

</html>