<!-- File: base.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 9/12/2025 -->
<!-- Description: holds the content that is repeated on everypage (every html page) -->

{% load static %}
<html>

<head>
    <title>Hellow, World</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <nav>
        <!-- links to all pages -->
        <li><a href="{% url 'main_page' %}"> Home </a></li>
        <li><a href="{% url 'about_page' %}"> About </a> </li>
        <li><a href="{% url 'all_quotes' %}"> All Quotes</a> </li>
    </nav>
    {% block content %}
    <!-- this varies based on the html file -->
    {% endblock %}
    <footer>
        Designed by Angelie Darbouze (angelie@bu.edu)
    </footer>
</body>

</html>