<!-- File: mini_insta/base.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 9/25/2025 -->
<!-- Description: Base template for the mini_insta app, providescommon HTML structure and styling for every page-->
{% load static %}

<html>

<head>
    <title> Mini Insta </title>
    <!-- lnks all pages to the css styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles-mini_insta.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH4q96iLFI/9jZbJeLT6xQdz/3ugixN/kHbSdEpD3gQU6Vn+7ovA7R6yzC1zRZrn" crossorigin="anonymous">
    <!-- Bootstrap Icons, did this for navbar icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <header>
        {% if request.user.is_authenticated %}
        <!-- Top Navigation Bar -->
        {% if profile %}
        <nav class="top-nav">
            <ul>
                <li><a href="{% url 'show_feed' %}"><i class="bi bi-house-door-fill"></i></a></li>
                <li><a href="{% url 'show_profile' profile.pk %}"><i class="bi bi-person-fill"></i></a></li>
                <li><a href="{% url 'create_post'  %}"><i class="bi bi-file-plus-fill"></i></a></li>
                <li><a href="{% url 'search_results' %}"><i class="bi bi-search"></i></a> </li>
            </ul>
        </nav>
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout"> </li>
        </form>
        {% else %}
        <!-- <h1><a href="{% url 'show_all_profiles' %}"><strong><i class="bi bi-people-fill"></i></strong></a></h1> -->
        <!-- Navigation for unauthenticated users -->
        <h1>
            <a href="{% url 'show_all_profiles' %}">
                <strong><i class="bi bi-people-fill"></i> Mini Insta</strong>
            </a>
        </h1>
        <nav class="top-nav">
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>

    <!-- subsitute specific content here -->
    {% block content %}
    {% endblock %}
    <!-- Bottom navigation: show Create Post link only if a profile is present in the context -->
    {% if profile %}
    <nav class="bottom-nav">
        <a href="{% url 'create_post' %}" class="create-post-link"><strong>Create Post 💬</strong></a>
    </nav>
    {% endif %}
</body>

</html>