<!-- File: show_profile.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 9/25/2025 -->
<!-- Description: This template renders a profile page for a single Profile record. It displays a larger profile image, user information, and placeholders for followers, following, and posts. -->
{% extends 'mini_insta/base.html' %}
{% load static %}


{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <!-- Displays a more in depth profile image, display name, username, and bio -->
        <img src="{{ profile.profile_image_url }}" alt="Profile Image" class="profile-pic-large">
        <div>
            <h1 class="profile-name">{{ profile.display_name }}</h1>
            <h3>{{ profile.username }}</h3>
            <p>{{ profile.bio_text }}</p>
        </div>
    </div>
    {% if request.user.is_authenticated and request.user != profile.user %}
    <form action="{% url 'follow_profile' profile.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="color: #564168;"><strong>Follow</strong></button>
    </form>
    <form action="{% url 'unfollow_profile' profile.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="color: #564168;"><strong>Unfollow</strong></button>
    </form>
    {% endif %}
    <div> <button><a href="{% url 'update_profile' %}" style="color: #564168;"><strong> Edit
                    Profile</strong></a></button></div>
    <!-- these different classes help with css styling -->
    <div class="profile-details">
        <p><strong>Followers:</strong> <a href="{% url 'show_followers' profile.pk %}">
                {{ profile.get_num_followers }}</a></p>
        <p><strong>Following:</strong> <a href="{% url 'show_following' profile.pk %}">
                {{ profile.get_num_following }}</a></p>
    </div>

    <div class="profile-posts">
        <h2> {{ profile.get_post_count }} Post(s)</h2>
        <!-- display the users posts here-->
        {% for post in profile.get_all_posts %}
        <div>
            {% with photos=post.get_all_photos %}
            {% if photos|length %}
            <!-- Display the first photo of the post -->
            <a href="{% url 'show_post' post.pk %}">
                <img src="{{ photos.0.get_image_url }}" alt="Post Image" class="post-image">
            </a>
            {% else %}
            <!-- If there are no photos, display a placeholder image -->
            <img src="{% static 'no-image.png' %}" alt="No Image Available" class="post-photo">
            {% endif %}
            {% endwith %}
            <p>{{ post.caption }}</p>
            {% if request.user.is_authenticated and request.user.profile.pk != post.profile.pk %}
            <form action="{% url 'like_post' post.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="color: #564168;"><strong>Like</strong></button>
            </form>
            <form action="{% url 'unlike_post' post.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="color: #564168;"><strong>Unlike</strong></button>
            </form>
            {% endif %}
        </div>
        {% empty %}
        <p>No posts available.</p>
        {% endfor %}
    </div>
    <div>
        Joined on: {{ profile.join_date }}
    </div>
</div>
{% endblock %}