<!-- File: show_profile.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 9/25/2025 -->
<!-- Description: This template renders a profile page for a single Profile record. It displays a larger profile image, user information, and placeholders for followers, following, and posts. -->
{% extends 'mini_insta/base.html' %}
{% load static %}


{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <!-- Displays a more in depth profile image, display name, username, and bio -->
        <img src="{{ profile.profile_image_url }}" alt="Profile Image" class="profile-pic-large">
        <div>
            <h1 class="profile-name">{{ profile.display_name }}</h1>
            <h3>{{ profile.username }}</h3>
            <p>{{ profile.bio_text }}</p>
        </div>
    </div>
    <!-- these different classes help with css styling -->
    <div class="profile-details">
        <p><strong>Followers:</strong> [No followers yet]</p>
        <p><strong>Following:</strong> [No following yet]</p>
    </div>
    
    <div class="profile-posts">
        <h2>Posts</h2>
        <!-- display the users posts here-->
        {% for post in profile.get_all_posts %}
        <div>
            {% with photos=post.get_all_photos %}
            {% if photos|length %}
            <!-- Display the first photo of the post -->
            <a href="{% url 'show_post' post.pk %}">
                <img src="{{ photos.0.image_url }}" alt="Post Image" class="post-image">
            </a>
            {% else %}
            <!-- If there are no photos, display a placeholder image -->
            <img src="{% static 'no-image.png' %}" alt="No Image Available" class="post-photo">
            {% endif %}
            {% endwith %}
            <p>{{ post.caption }}</p>
        </div>
        {% empty %}
        <p>No posts available.</p>
        {% endfor %}
    </div>

    <div>
        Joined on: {{ profile.join_date }}
    </div>

</div>
{% endblock %}