<!-- File: show_post.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 10/1/2025 -->
<!-- Description: This template renders a post page for a single Post record. It displays the post image(s) and caption -->
{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}

<div class="post-container">
    <!-- Back to Profile Link -->
    <div class="back-link">
        <button><a href="{% url 'show_profile' post.profile.pk %}" style="color: #564168;"><strong>Back to
                    Profile 🔙</strong></a></button>
    </div>
    <div class="post-header">
    </div>
    <div class="post-gallery">
        {% with photos=post.get_all_photos %}
        {% if photos|length %}
        {% for photo in photos %}
        <!-- call the get_image_url method to display the photos -->
        <img src="{{ photo.get_image_url }}" alt="Post Photo" class="post-image">
        {% endfor %}
        {% else %}
        <img src="{% static 'images/no-image.png' %}" alt="No Image Available" class="post-image">
        {% endif %}
        {% endwith %}
    </div>

    <div class="post-caption">
        <p><strong>Likes: {{ post.get_likes|length }}</strong></p>
        <p><strong>{{ post.caption }}</strong></p>
    </div>
    <div class="post-comments">
        {% if post.get_all_comments %}
        {% for comment in post.get_all_comments %}
        <p><strong>{{ comment.profile.username }}</strong> {{ comment.text }}</p>
        {% endfor %}
        {% else %}
        <p>No comments yet.</p>
        {% endif %}
        <p> Created: {{ post.timestamp }}</p>
        <!-- link to delete this post  -->
        <button><a href="{% url 'delete_post' post.pk %}"><strong>Delete Post</strong></a></button>
        <!-- link to update this post  -->
        <button><a href="{% url 'update_post' post.pk %}"><strong>Update Post</strong></a></button>
    </div>
    {% endblock %}