<!-- File: show_post.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 10/1/2025 -->
<!-- Description: This template renders a post page for a single Post record. It displays the post image(s) and caption -->
{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}

<div class="post-container">
    <div class="post-header">
    </div>
    <div class="post-gallery">
        {% with photos=post.get_all_photos %}
        {% if photos|length %}
        {% for photo in photos %}
        <!-- display the photos -->
        <img src="{{ photo.image_url }}" alt="Post Photo" class="post-image">
        {% endfor %}
        {% else %}
        <img src="{% static 'images/no-image.png' %}" alt="No Image Available" class="post-image">
        {% endif %}
        {% endwith %}
    </div>

    <div class="post-caption">
        <p><strong>{{ post.caption }}</strong></p>
        <p> Created: {{ post.timestamp }}</p>
    </div>
    <!-- Back to Profile Link -->
    <div class="back-link">
        <a href="{% url 'show_profile' post.profile.pk %}" style="color: #564168;"><strong>Back to
                Profile 🔙</strong></a>
    </div>
</div>
{% endblock %}