<!-- File: mini_insta/show_all_profiles.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 10/1/2025 -->
<!-- Description: Is the home page that showcases all profiles that have been created -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="home-container">
    <!-- loops through all created profiles and displays their name and username -->
    {% for profile in profiles %}
    <article>
        <div>
            <h2>{{ profile.display_name }}</h2>
            <h3> {{ profile.username }}</h3>
        </div>
        <!-- This href creates a link that directs the user to an individual profile page -->
        <a href="{% url 'show_profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="Article Image"
                style="max-width: 300px; max-height: 300px;" />
        </a>
    </article>
    {% endfor %}
    <nav class="bottom-nav">
        <a href="{% url 'create_profile' %}" class="create-profile-link"><strong>Create Profile 👤</strong></a>
    </nav>
</main>
{% endblock %}