<!-- File: mini_insta/templates/mini_insta/update_profile_form.html -->
<!-- Author: Angelie Darbouze (angelie@bu.edu), 10/8/2025 -->
<!-- Description: This template renders a form to update an existing profile -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h1> Update Profile </h1>
<form action="{% url 'update_profile' profile.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
        <!-- define a table row -->
        <tr>
            <!-- manually adding a table row with an input feild for the photos -->
            <th> <label for="files">Profile image file:</label></th>
            <td> <input type="file" name="files" id="files"></td>
        </tr>
    </table>
    <!-- cancel and create post buttons -->
    <button>
        <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
    </button>
    <button type="submit" value="Update" name="Update">Update</button>

</form>
{% endblock %}